<form name="eventform" method="post" #formCtrl="ngForm">
  <div class="row col-xs-12">
    <div class="form-group col-xs-12">
      <label For="name">{{ 'season.name' | translate }}</label>
      <input id="name" class="form-control col-xs-12"
             [disabled]="!_auth.isAdministrator()"
             [(ngModel)]="currentevent.name"
             name="currentevent.name"
             placeholder="Название этапа" required>
    </div>
  </div>
  <div class="row col-xs-12">
    <div class="form-group col-xs-6">
      <label For="season">{{ 'season.season' | translate }}</label>
      <select id="season" class="form-control"
              [disabled]="!_auth.isAdministrator()"
              [compareWith]="selectedseason"
              [(ngModel)]="currentevent.season"
              [ngModelOptions]="{standalone: true}">
        <option *ngFor="let season of seasons" [ngValue]="season">
          {{season.name}}
        </option>
      </select>
    </div>
    <div class="form-group col-xs-6">
      <label For="location">{{ 'season.name' | translate }}</label>
      <input id="location"
             class="form-control"
             [disabled]="!_auth.isAdministrator()"
             [(ngModel)]="currentevent.location"
             name="currentevent.location"
             placeholder="Город этапа" required>
    </div>
  </div>
  <div class="row col-xs-12">
    <div class="form-group col-xs-12">
      <label>{{ 'events.date' | translate }}</label>
      <mat-form-field class="form-group col-xs-4" >
        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
             [(ngModel)]="currentevent.startDate"
             [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row col-xs-12">
    <div class="form-group col-xs-12">
      <select class="form-control"
              [disabled]="!_auth.isAdministrator()"
              [compareWith]="selectedstatus"
              [(ngModel)]="currentevent.eventStatus"
              [ngModelOptions]="{standalone: true}">

        <option *ngFor="let key of arraystatuseslocal" [ngValue]="key">
          {{ 'eventsstatus.' + eventstatus[key] | translate }}
        </option>
      </select>
    </div>
  </div>
  <hr>
  <div class="row col-xs-12">
  <div class="row col-xs-6">
    <button class="btn btn-primary col-xs-6"
            *ngIf="_auth.isAdministrator()"
            (click)="setEvent()">
      {{ 'season.save' | translate }}
    </button>
  </div>
  <div class="row col-xs-6">
    <button class="btn btn-primary col-xs-6"
            [routerLink]="['/results/' + currentevent.id]">
      {{ 'Результаты' | translate }}
    </button>
  </div>
  </div>
</form>

<hr>

<router-outlet></router-outlet>
