<form name="seasonform" method="post" #formCtrl="ngForm">
  <div class="form-group">
    <label>{{ 'season.name' | translate }}</label>
    <input class="form-control" [(ngModel)]="currentseason.name" name="currentseason.name" placeholder="Название сезона" required>
  </div>
  <div class="form-group">
    <label>{{ 'season.date' | translate }}</label>
    <input type="date" [ngModel]="currentseason.date | date:'yyyy-MM-dd'" (ngModelChange)="currentseason.date = $event" name="currentSeason.date" placeholder="Дата сезона" required>
  </div>
  <button type="edit" (click)="setSeason()">{{ 'season.save' | translate }}</button>
  <button type="edit" (click)="setcurrentSeason()">{{ 'season.setcurrent' | translate }}</button>
</form>
