
<label><select class="form-control" [compareWith]="selectedseason" [(ngModel)]="currentseason"
        (ngModelChange)="setCurrentSeason($event)">
  <option *ngFor="let season of seasons" [ngValue]="season">
    {{season.name}}
  </option>
</select></label>
<button [routerLink]="['/season/' + [currentseason.id]]">{{ 'events.editseason' | translate }}</button>
<button [routerLink]="['/season']">{{ 'events.addseason' | translate }}</button>
<button [routerLink]="['/event']">{{ 'events.addevent' | translate }}</button>
<li *ngFor="let events of events">
  <a [routerLink]="'/event/' + [events.id]">{{events.name}}</a>
</li>
