
<label><select class="form-control" [compareWith]="selectedseason" [(ngModel)]="currentseason"
        (ngModelChange)="setCurrentSeason($event)">
  <option *ngFor="let season of seasons" [ngValue]="season">
    {{season.name}}
  </option>
</select></label>
<button class="btn btn-primary btn-block"
        [routerLink]="['/season/']"
        [queryParams]="{idseason: currentseason.id}"
>{{ 'events.editseason' | translate }}</button>
<button class="btn btn-primary btn-block"
        [routerLink]="['/season']"
>{{ 'events.addseason' | translate }}</button>
<button class="btn btn-primary btn-block"
        [routerLink]="['/event']"
>{{ 'events.addevent' | translate }}</button>
<li *ngFor="let events of events">
  <a
    [routerLink]="'/event/'"
    [queryParams]="{idevent: events.id}"
  >{{events.name}}</a>
</li>
