<html lang="{{currentlang}}">
<head>
  <title>{{ 'Title' | translate }}</title>
</head>
<div class="container">
  <img class="img-responsive" src="assets/images/maintop.png" alt="Car Emotion">
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li *ngIf="translate_service.getLanguage() !== 'ua'" (click)="switchLanguage('ua')"><img class="img-responsive" alt="Українська"  src="assets/images/Ukraine.png"></li>
        <li *ngIf="translate_service.getLanguage() == 'ua'" (click)="switchLanguage('ua')"><img class="img-responsive" alt="Українська"  src="assets/images/Ukraine24.png"></li>
        <li *ngIf="translate_service.getLanguage() !== 'en'" (click)="switchLanguage('en')"><img class="img-responsive" alt="English"  src="assets/images/United-Kingdom.png"></li>
        <li *ngIf="translate_service.getLanguage() == 'en'" (click)="switchLanguage('en')"><img class="img-responsive" alt="English"  src="assets/images/United-Kingdom24.png"></li>
        <li *ngIf="translate_service.getLanguage() !== 'ru'" (click)="switchLanguage('ru')"><img class="img-responsive" alt="Русский"  src="assets/images/Russia.png"></li>
        <li *ngIf="translate_service.getLanguage() == 'ru'" (click)="switchLanguage('ru')"><img class="img-responsive" alt="Русский"  src="assets/images/Russia24.png"></li>
      </ul>
    </div>
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li><a [routerLink]="['']"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"><h4>{{ 'navigate.Main' | translate }}</h4></a>
        </li>
        <li>
          <a [routerLink]="['/totalresults/']"><h4>{{ 'navigate.totalresults' | translate }}</h4></a>
        </li>
        <li *ngIf="_auth.isAdministrator()">
          <a [routerLink]="['/currentresultboard']" class="nav navbar-nav navbar-left" routerLinkActive="active-link">
            <h4>{{ 'navigate.currentresultboard' | translate }}</h4></a>
        </li>
        <li *ngIf="_auth.isAdministrator()">
          <a [routerLink]="['/adminboard']" class="nav navbar-nav navbar-left" routerLinkActive="active-link">
            <h4>{{ 'navigate.AdminBoard' | translate }}</h4></a>
        </li>
        <li [routerLink]="['/login']" routerLinkActive="active-link" *ngIf="!_auth.isLoggedIn()"
            class="nav navbar-nav navbar-right">
          <a><h4>{{ 'navigate.Login' | translate }}</h4></a>
        </li>
        <li *ngIf="_auth.isLoggedIn()" class="nav navbar-nav navbar-right" [routerLink]="['']" (click)="_auth.logout()">
          <a><h4>{{ 'navigate.Logout' | translate }}</h4></a>
        </li>
      </ul>
    </div>
  </nav>
  <hr>
  <router-outlet></router-outlet>
</div>
</html>

