<html lang="{{currentlang}}">
<head>
  <title>{{ 'Title' | translate }}</title>
</head>
<div class="container">


  <!-- Static navbar -->


  <nav class="navbar navbar-default">
    <ul class="container-fluid">
      <ul class="nav navbar-nav navbar-header">
        <li><img class="img-responsive" (click)="switchLanguage('en')" src="assets/images/United-Kingdom.png"></li>
        <li><img class="img-responsive" (click)="switchLanguage('ru')" src="assets/images/Russia.png"></li>
        <li><img class="img-responsive" (click)="switchLanguage('ua')" src="assets/images/Ukraine.png"></li>
      </ul>
    </ul>
    <ul class="container-fluid">
      <div class="form-row">
      <ul class="nav nav-tabs">
          <li ><a [routerLink]="['']"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">{{ 'navigate.Main' | translate }}</a>
          </li>
          <li >
            <a [routerLink]="['/persons']" class="nav navbar-nav navbar-left" routerLinkActive="active-link">{{ 'navigate.Persons' | translate }}</a>
          </li>
          <li >
            <a [routerLink]="['/events']" class="nav navbar-nav navbar-left" routerLinkActive="active-link">{{ 'navigate.Events' | translate }}</a>
          </li>
        <li *ngIf="_auth.isAdministrator()" >
          <a [routerLink]="['/adminboard']" class="nav navbar-nav navbar-left" routerLinkActive="active-link">{{ 'navigate.AdminBoard' | translate }}</a>
        </li>

        <ul *ngIf="!_auth.isLoggedIn()" class="nav navbar-nav navbar-right">
          <li [routerLink]="['/login']" routerLinkActive="active-link">
            <a>{{ 'navigate.Login' | translate }}</a>
          </li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
          <li *ngIf="_auth.isLoggedIn()" [routerLink]="['']" (click)="_auth.logout()">
            <a>{{ 'navigate.Logout' | translate }}</a>
          </li>
        </ul>
      </ul>
      </div>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
</html>

