<div class="form-group col-xs-4">
  <label for="season">{{ 'currentresult.season' | translate }}</label>
  <input class="form-control disabled"
         id="season"
         [ngModel]="currentevent.season.name"
         name="currentevent.name"
         required>
</div>
<div class="form-group col-xs-4">
  <label for="currentevent">{{ 'currentresult.event' | translate }} {{currentcompetition}}</label>
  <input class="form-control disabled"
         id="currentevent"
         [ngModel]="currentevent.name">
</div>
<div class="form-group col-xs-4">
  <label for="currentcompetition">{{ 'currentresult.competition' | translate }}</label>
  <select class="form-control" [compareWith]="selectedCompetition" [ngModel]="currentcompetition"
          id="currentcompetition"
          (ngModelChange)="onChangecompetition($event)">
    <option *ngFor="let key of arrayCompetitons" [ngValue]="key">
      {{key}}
    </option>
  </select>
</div>
<hr>
<div class="form-row col-md-12">
  <h1 class="text-center">
    {{ 'currentresult.header' | translate }}
  </h1>
</div>

<div class="form-row">

  <div class="form-group col-xs-4 left">
    <mat-form-field
      class="row">
      <input class="form-control" type="text" placeholder="Search person" aria-label="Search person" matInput
             [formControl]="ControlLeft" [matAutocomplete]="autopeapleleft">
      <mat-autocomplete #autopeapleleft="matAutocomplete" [displayWith]="displayPerson">
        <mat-option *ngFor="let participant of FilteredPersonsLeft | async" [value]="participant">
          {{participant.person.familyName}} {{participant.person.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="row">
      <label for="classleft">{{ 'currentresult.class' | translate }}</label>
      <select class="form-control" [compareWith]="selectedCompetitionClass" [ngModel]="classleft"
              id="classleft"
              (ngModelChange)="onChangecompetitionClass($event, true)">
        <option *ngFor="let key of arrayCompetitonsClass" [ngValue]="key">
          {{key.name}}
        </option>
      </select>
    </div>

  </div>

  <div class="form-group col-xs-1 left">
    <hr>
    <h4>VS</h4>
  </div>

  <div class="form-group col-xs-4 center-block">
    <mat-form-field
      class="row">
      <input class="form-control" type="text" placeholder="Search person" aria-label="Search person" matInput
             [formControl]="ControlRight" [matAutocomplete]="autopeapleright">
      <mat-autocomplete #autopeapleright="matAutocomplete" [displayWith]="displayPerson">
        <mat-option *ngFor="let participant of FilteredPersonsRight | async" [value]="participant">
          {{participant.person.familyName}} {{participant.person.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="row">
      <label for="classrighr">{{ 'currentresult.class' | translate }}</label>
      <select class="form-control" [compareWith]="selectedCompetitionClass" [ngModel]="classright"
              id="classrighr"
              (ngModelChange)="onChangecompetitionClass($event, true)">
        <option *ngFor="let key of arrayCompetitonsClass" [ngValue]="key">
          {{key.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group col-xs-3 right">
    <hr>
    <hr>
    <button class="btn btn-primary center-block button" (click)="SaveResults()">
      {{ 'currentresult.saveresults' | translate }}
    </button>
    <hr>
    <button class="btn btn-warning center-block button" (click)="ClearResults()">
      {{ 'currentresult.clearresults' | translate }}
    </button>
  </div>
</div>


<!--

<div class="form-row">
  <div class="form-group col-xs-4 left">
    <div >
      <label for="result1">{{ 'currentresult.result1' | translate }}</label>
      <div class="form-control" cdkDropList #result1="cdkDropList" id="result1"
           [cdkDropListData]="currentparticipant1"
           [cdkDropListConnectedTo]="[participantTurn1, result2]" (cdkDropListDropped)="onDropresult($event)" cdkDrag>
        {{currentparticipant1[0].person.name}} - {{currentparticipant1[0].person.familyName}}
      </div>
      <div class="form-row">
        <label for="result1front" *ngIf="!IsDecibelShow()">{{ 'currentresult.result' | translate }}</label>
        <label for="result1front" *ngIf="IsDecibelShow()">{{ 'currentresult.front' | translate }}</label>
        <input class="form-control" [disabled]="disbledresults(this.currentparticipant1)"
               id="result1front"
               [(ngModel)]="currentresult1.front"
               name="currentresult1.front" (change)="changeresult(1)"
               required>
      </div>
      <div *ngIf="IsDecibelShow()">
        <label for="result1sub">{{ 'currentresult.sub' | translate }}</label>
        <input class="form-control" [disabled]="disbledresults(this.currentparticipant1)"
               [(ngModel)]="currentresult1.sub"
               id="result1sub"
               name="currentresult1.sub" (change)="changeresult(1)"
               required>
      </div>
      <div>
        <label for="result1outputpower">{{ 'currentresult.outputpower' | translate }}</label>
        <input class="form-control" [disabled]="disbledresults(this.currentparticipant1)"
               id="result1outputpower"
               [(ngModel)]="currentresult1.outputpower"
               name="currentresult1.outputpower" (change)="changeresult(1)"
               required>
      </div>
      <label class="form-check-label" for="checkin1">
        <input type="checkbox" class="form-check-input" id="checkin1" name="currentresult1.checkin"
               [disabled]="!_auth.isAdministrator()"
               (change)="changeresult(1)"
               [(ngModel)]="currentresult1.checkin">
        {{ 'currentresult.checkin' | translate }}
      </label>
    </div>

    <hr>
    <div class="form-group btn-block" cdkDropList #participantTurn1="cdkDropList" id="participantTurn1"
         [cdkDropListData]="turn1"
         [cdkDropListConnectedTo]="[participantList, participantTurn2, result1]" (cdkDropListDropped)="onDrop($event)">
      <label>{{ 'currentresult.turn1' | translate }}</label>
      <div class="list-group">
        <div *ngFor="let participant of turn1" class="list-group-item list-group-item-action"
             [routerLink]="['/participant/' + this.currentevent.id + '/' + participant.id]" cdkDrag
        >{{participant.person.name}} - {{participant.person.familyName}}</div>
      </div>
    </div>
  </div>
  <div class="form-group col-xs-4">
    <div>
      <label>{{ 'currentresult.result2' | translate }}</label>
      <div class="form-control" cdkDropList #result2="cdkDropList" id="result2"
           [cdkDropListData]="currentparticipant2"
           [cdkDropListConnectedTo]="[participantTurn2, result1]" (cdkDropListDropped)="onDropresult($event)" cdkDrag>
        {{currentparticipant2[0].person.name}} - {{currentparticipant2[0].person.familyName}}
      </div>
      <div class="form-row">
        <label for="result2front" *ngIf="!IsDecibelShow()">{{ 'currentresult.result' | translate }}</label>
        <label for="result2front" *ngIf="IsDecibelShow()">{{ 'currentresult.front' | translate }}</label>
        <input class="form-control" [disabled]="disbledresults(this.currentparticipant2)"
               id="result2front"
               [(ngModel)]="currentresult2.front"
               name="currentresult1.front" (change)="changeresult(2)"
               required>
      </div>
      <div *ngIf="IsDecibelShow()">
        <label for="result2sub">{{ 'currentresult.sub' | translate }}</label>
        <input class="form-control" [disabled]="disbledresults(this.currentparticipant2)"
               id="result2sub"
               [(ngModel)]="currentresult2.sub"
               name="currentresult1.sub" (change)="changeresult(2)"
               required>
      </div>
      <div>
        <label for="result2outputpower">{{ 'currentresult.outputpower' | translate }}</label>
        <input class="form-control" [disabled]="disbledresults(this.currentparticipant2)"
               id="result2outputpower"
               [(ngModel)]="currentresult2.outputpower"
               name="currentresult1.outputpower" (change)="changeresult(2)"
               required>
      </div>
      <label class="form-check-label" for="checkin2">
        <input type="checkbox" class="form-check-input" id="checkin2" name="currentresult2.checkin"
               [disabled]="!_auth.isAdministrator()"
               (change)="changeresult(2)"
               [(ngModel)]="currentresult2.checkin">
        {{ 'currentresult.checkin' | translate }}
      </label>
    </div>
    <hr>
    <div class="form-group btn-block" cdkDropList #participantTurn2="cdkDropList" id="participantTurn2"
         [cdkDropListData]="turn2"
         [cdkDropListConnectedTo]="[participantList, participantTurn1, result2]" (cdkDropListDropped)="onDrop($event)">
      <label>{{ 'currentresult.turn2' | translate }}</label>
      <div class="list-group">
        <div *ngFor="let participant of turn2" class="list-group-item list-group-item-action"
             [routerLink]="['/participant/' + this.currentevent.id + '/' + participant.id]" cdkDrag
        >{{participant.person.name}} - {{participant.person.familyName}}</div>
      </div>
    </div>
  </div>
</div>

<div class="form-group col-xs-4">
  <button class="btn btn-primary btn-block" (click)="SaveResults()" *ngIf="_auth.isAdministrator()">
    {{ 'currentresult.saveresults' | translate }}
  </button>
  <button class="btn btn-warning btn-block" (click)="ClearResults()" *ngIf="_auth.isAdministrator()">
    {{ 'currentresult.clearresults' | translate }}
  </button>
  <hr *ngIf="_auth.isAdministrator()">
  <label>{{ 'currentresult.allparticipants' | translate }}</label>
  <div class="list-group"
       cdkDropList #participantList="cdkDropList" id="participants"
       [cdkDropListData]="participants"
       [cdkDropListConnectedTo]="[participantTurn1, participantTurn2]" (cdkDropListDropped)="onDropparticipants($event)">
    <div *ngFor="let participant of participants" class="list-group-item list-group-item-action"
         [routerLink]="['/participant/' + this.currentevent.id + '/' + participant.id]" cdkDrag>
      {{participant.person.name}} - {{participant.person.familyName}} : {{bestResultcurrentclass(participant)}}
    </div>
  </div>
</div>
-->


