<form name="teamform" method="post" #formCtrl="ngForm">
<div class="form-group">
  <label for="name">{{ 'team.legalName' | translate }}</label>
  <input class="form-control"
         id="name" [disabled]="!_auth.isAdministrator()"
         [(ngModel)]="currentteam.legalName"
         name="currentteam.legalName"
         placeholder="Name"
         required>
</div>
<hr>
<div class="form-group">
  <button type="buton" class="btn btn-primary btn-block"  style="margin-bottom: 20px" (click)="setTeam()" *ngIf="_auth.isAdministrator()">
    {{ 'team.save' | translate }}
  </button>
</div>
</form>
