<div itemscope itemtype="http://schema.org/Person">
  <div *ngIf="!isEditMode()" >
<div class="row">
  <div class="form-group col-xs-12 row">
    <h1 itemprop="name">{{currentperson.name}} </h1> <h1 itemprop="familyName">{{currentperson.familyName}}</h1>
  </div>
  <button class="btn btn-block" (click)="enableEditMode()">Edit</button>
</div>
<div class="row">
  <div class="form-group col-xs-12">
    <h5>{{ 'participant.city' | translate }}</h5>
    <h5>{{currentperson.city}}</h5>
  </div>
</div>
</div>
<div class="form-group col-xs-4" *ngIf="deisplayBestLeague()">
  <h2>{{ 'persons.bestdecibelLeague' | translate }}</h2>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelPlace' | translate }}</label>
      <h1> {{bestDecibelleague.totalplace}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelResult' | translate }}</label>
      <h2> {{bestDecibelleague.result.toFixed(2)}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelCity' | translate }}</label>
      <h4> {{bestDecibelleague.event.location}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelDate' | translate }}</label>
      <h4> {{bestDecibelleague.event.startDate}}</h4>
    </div>
  </div>
</div>
<div class="form-group col-xs-4" *ngIf="deisplayBestVolume()">
  <h2>{{ 'persons.bestdecibelVolume' | translate }}</h2>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelPlace' | translate }}</label>
      <h1> {{bestDecibelVolume.totalplace}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelResult' | translate }}</label>
      <h2> {{bestDecibelVolume.result.toFixed(2)}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelCity' | translate }}</label>
      <h4> {{bestDecibelVolume.event.location}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelDate' | translate }}</label>
      <h4> {{bestDecibelVolume.event.startDate}}</h4>
    </div>
  </div>
</div>
<div class="form-group col-xs-4" *ngIf="deisplayBestShow()">
  <h2>{{ 'persons.bestdecibelShow' | translate }}</h2>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelPlace' | translate }}</label>
      <h1> {{bestDecibelShow.totalplace}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelResult' | translate }}</label>
      <h2> {{bestDecibelShow.result.toFixed(2)}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelCity' | translate }}</label>
      <h4> {{bestDecibelShow.event.location}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>{{ 'persons.bestdecibelDate' | translate }}</label>
      <h4> {{bestDecibelShow.event.startDate}}</h4>
    </div>
  </div>
</div>
</div>
<div *ngIf="isEditMode()">
  <div class="row">
    <label for="InputLogin">{{ 'login.email' | translate }}</label>
    <input id="InputLogin" class="form-control" [(ngModel)]="currentperson.login" placeholder="Login" required>
  </div>
  <div class="row">
    <label for="InputPassword">{{ 'login.pass' | translate }}</label>
    <input id="InputPassword" class="form-control" [(ngModel)]="password" placeholder="Password" required>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block" (click)="savePerson()">Save</button>
  </div>



</div>
