<form name="participantform" method="post" #formCtrl="ngForm">
    <div class="form-group">
      <label>{{ 'participant.name' | translate }}</label>
      <input class="form-control" [(ngModel)]="currentParticipant.name" name="currentParticipant.name" placeholder="Имя" required>
    </div>
  <div class="form-group">
      <label>{{ 'participant.familyName' | translate }}</label>
      <input type="familyName" class="form-control" [(ngModel)]="currentParticipant.familyName" name="currentParticipant.familyName" placeholder="Фамилия" required>
    </div>
  <div class="form-group">
    <label for="exampleInputEmail">{{ 'participant.email' | translate }}</label>
    <input type="email" class="form-control" [(ngModel)]="currentParticipant.email" name="currentParticipant.email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label >{{ 'participant.telephone' | translate }}</label>
    <input type="telephone" class="form-control" [(ngModel)]="currentParticipant.telephone" name="currentParticipant.telephone" placeholder="Телефон" required>
  </div>
  <div class="form-group">
    <label >{{ 'participant.city' | translate }}</label>
    <input type="city" class="form-control" [(ngModel)]="currentParticipant.city" name="currentParticipant.city" placeholder="Город" required>
  </div>
  <div class="form-group">
    <button type="buton" class="btn btn-primary btn-block"  style="margin-bottom: 20px" (click)="setParticipant()">{{ 'add' | translate }}</button>
  </div>
</form>
